body {
    padding: 0;
    margin: 0;
    margin-top: 0;
    background-color: #F5E2C9;
}

section {
    height:100vh;
}
.home {

    background-image: url("flower_picture.JPG"); 
    background-size: cover;
    background-position: center center;
    height: 106vh;
    margin-top: -16px;
}
.header {
    color: beige;
    /*background-image: url("colosseum.jpg");*/
    font-family: "Amatic SC", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 15vh;
    /*top: 0;*/
    left: 0;
    right: 0;
    /*height: auto;*/
    display: inline-block;
    position: relative;
   /* margin: 0;*/
    /*padding: 0px 0px 0px 0px;*/
/*    background-repeat: no-repeat;*/
   /* background-image: -webkit-linear-gradient(#A7B4F1, #023EFA);*/
    /*background-image: -webkit-linear-gradient(#800000, #cc5200);*/
    opacity: 25%;
    overflow: scroll;
    text-shadow: 0px 4px 4px darkslategray;
    line-height: 0.5em;
    
}


h1 {
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
}

.main-nav {
/*    color: white;
    width: auto;
    text-align: center;
    position: relative;
    margin: 10px;
    margin-top: 85vh;
    position: absolute;
    width: 100%;*/

    height: auto;
    text-align: center;
    position: relative;
    width: 100%;
    color: white;
    font-family: Ubuntu, sans-serif;
    margin-bottom: 14vh;
    top: 0;
    z-index: 999;
}

.about-nav {
    color: beige;
    width: auto;
    text-align: center;
    position: relative;
    margin: 10px;
    margin-top: 85vh;
    position: absolute;
    width: 30%;
    margin-left: 2%;
    text-shadow: 0px 1.5px 4px darkblue;

}


/*nav {
    background-color: black;
    height: auto;
    text-align: center;
    position: relative;
    border-style: groove;
    border-width: 4px 0px 4px 0px;
    border-color: #EAA7F1;
    z-index: 999;
    width: 100%;
    /*height: 10vh;*/

.main-nav ul {
    padding: 0;
}

.main-nav li {

    color: white;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    color: beige;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px;
    text-transform: lowercase;
    display: inline-block;
    z-index: 999;
    text-align: center;
}

.about-nav ul {
    padding: 0;
    float: right;
}

.about-nav li {
    color: beige;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.about-nav a {
    text-decoration: none;
    color: beige;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px;
    text-transform: lowercase;
    display: inline-block;
    z-index: 999;
    text-align: center;
}
/*nav {
    background-color: black;
    height: auto;
    text-align: center;
    position: fixed;
    border-style: groove;
    border-width: 4px 0px 4px 0px;
    border-color: #EAA7F1;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    /*height: 10vh;*/
/*}
nav ul {
    padding: 0;
}

nav li {
    color: white;
    font-family: Ubuntu, sans-serif;
    background-color: black;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 5px;
    text-transform: uppercase;
}*/

/*nav a {
    text-decoration: none;
    color: white;
    font-family: Ubuntu, sans-serif;
    background-color: black;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 20px;
    text-transform: uppercase;
}*/

a:hover {
    font-weight: bold;
    color: #dc42f4;
}

.about
{
    background-color: #F5E2C9;
   /* background-image: url("warm-amber-patterns-part-2-7.jpg");*/
        /*background-image: -webkit-linear-gradient(#f4d442, #e58c10);*/
    display: block;
    position: relative;
    /*overflow: scroll;*/
    width: auto;
    margin-top: -16px;
}


.Intro {
    float: right;
    display: inline;
    width: 55%;
    height: 90vh;
    height: 75vh;
    margin: 2%;
    overflow: scroll;
    text-shadow: 0px 0.5px 1px darkslategray;
    
}

.Intro h2
{
    color: red;
    font-weight: bold;
    text-align: left;
    font-family: 'Amatic SC', sans-serif;
    font-size: 40pt;
    font-style: initial;
}

.Intro p {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: left;
    font-size: 16pt;
}

section .paragraph-link a
{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-align: left;
    font-size: 12pt;
}

section .paragraph-link a:visited 
{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-align: left;
    font-size: 12pt;
}

.paragraph-link a:hover 
{
    font-weight: bold;
}

.photo img {
    position: relative;
    width: auto;
    height: 100vh;
    display: inline-block;
    float:left;
    
}

.contact-title 
{
    font-family: "Amatic SC", sans-serif;
    float: right;
    background-color: maroon;
    text-align: center;
    color: white;
    font-size: 90px;
    width: 63.3333%;
    height: 100vh;
}

.contact-title h1
{
    margin-top: 230px;
}

.contact-info
{
    font-family: "Josefin Sans";
    font-size: 16px;
    float: left;
    background-color: #F5E2C9;
    color: black;
    width: 33.6666%;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-info h2
{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-align: center;
}

.center
{
    text-align: center;
}

.footer {
    font-family: "Amatic SC";
    font-size: 12px;
    text-align: center;
    position: relative;
    overflow: scroll;
    color: black;
    clear: both;
/*    background-image: -webkit-linear-gradient(#A7B4F1, #023EFA);*/
}



