.body
{
	background-color: #d7f0f7;
}

.header
{
	padding-bottom: 30px;
}
.name {
	margin: 0 auto;
	
	

}
.name h1{
	font-size: 200%;
	color: slategray;
	font-family: 'Indie Flower', cursive;
	text-align: center;

}
.main-nav {

	margin-top: -25px;
    height: auto;
    text-align: center;
    position: relative;
    width: 100%;
    color: black;
    font-family: Ubuntu, sans-serif;
    top: 0;
    z-index: 999;
}

.main-nav ul {
    padding: 0;
}

.main-nav li {

    color: black;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px;
    text-transform: lowercase;
    display: inline-block;
    z-index: 999;
 }

 a:hover {
    font-weight: bold;
    color: #dc42f4;
 }

.coming-soon
{
	background-color: #d7f0f7;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
    font-family: Lato, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 50px;
}

.coming-soon h1
{
    font-size: 50px;
}

.contact-info i
{
    padding: 15px;
}


.footer
{
    font-family: "Lato";
    font-size: 12px;
    text-align: center;
    position: relative;
    overflow: scroll;
    color: black;
    clear: both;
}