body {
    padding: 0;
    margin: 0;
    margin-top: 0;
    background-image: url("../about/Skytree.JPG");
    background-size: 100%;
}

section {
	height: 100vh;
}

.name {
	margin: 0 auto;
	
	

}
.name h1{
	font-size: 200%;
	color: white;
	font-family: 'Indie Flower', cursive;
	text-align: center;

}
.main-nav {

	margin-top: -25px;
    height: auto;
    text-align: center;
    position: relative;
    width: 100%;
    color: black;
    font-family: Ubuntu, sans-serif;
    top: 0;
    z-index: 999;
}

.main-nav ul {
    padding: 0;
}

.main-nav li {

    color: black;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px;
    text-transform: lowercase;
    display: inline-block;
    z-index: 999;
 }

 a:hover {
    font-weight: bold;
    color: #dc42f4;
 }

 a {
    text-decoration: none;
 }


div.description
{
	margin: 0 auto;
	
	background-color: #ffffff;
	
	opacity: 0.7;
	width: 75%;
	
	padding: 10px;
	

}
div.description p {
	font-family: Questrial, sans-serif;
	margin: 5%;
	color: #000000;
	text-align: justify;
	
}

.more p 
{
	text-align: center;
}